<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daisybell.myapp">
    
    <uses-feature android:name="android.hardware.camera2" android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".check_list.CheckListShowActivity" />
        <activity android:name=".check_list.CheckListBeforeAfterActivity" />
        <activity android:name=".check_list.CheckListNameActivity" />
        <activity android:name=".test.ResultTestActivity" />
        <activity android:name=".check_list.AddCheckListActivity" />
        <activity android:name=".auth.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".auth.RegActivity" />
        <activity android:name=".test.AddQuizTestsActivity" />
        <activity android:name=".test.QuizTestActivity" />
        <activity android:name=".test.TestsListActivity" />
        <activity android:name=".theory.AddTheoryActivity" />
        <activity android:name=".theory.TheoryShowActivity" />
        <activity android:name=".theory.TheoryListActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>