<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.daisybell.myapp">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".menu.AboutApplicationActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:label="@string/about_application_title"/>
        <activity android:name=".menu.SettingsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:label="@string/settings_title"/>
        <activity android:name=".menu.UsersActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:label="@string/users_title"/>
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user_email.AddNewUserActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:label="@string/add_new_user_title"/>
        <activity
            android:name=".result.ResultTestsActivity"
            android:parentActivityName=".result.ResultTestsNameActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:label="@string/result_tests_title"/>
        <activity
            android:name=".result.ResultTestsNameActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:label="@string/result_tests_title"/>
        <activity
            android:name=".result.ResultCheckListActivity"
            android:parentActivityName=".result.ResultCheckListNameActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:label="@string/result_check_lists_title"/>
        <activity
            android:name=".result.ResultCheckListNameActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:label="@string/result_check_lists_title"/>
        <activity
            android:name=".check_list.CheckListShowActivity"
            android:parentActivityName=".check_list.CheckListBeforeAfterActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:label="@string/check_list_title"/>
        <activity
            android:name=".check_list.CheckListBeforeAfterActivity"
            android:parentActivityName=".check_list.CheckListNameActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:label="@string/check_list_title"/>
        <activity
            android:name=".check_list.CheckListNameActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:label="@string/check_list_title"/>
        <activity
            android:name=".test.ResultTestActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:label="@string/result_test_title"/>
        <activity
            android:name=".check_list.AddCheckListActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:label="@string/add_check_list_title"/>
        <activity
            android:name=".auth.LoginActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:label="@string/login_title"/>
        <activity
            android:name=".auth.RegActivity"
            android:parentActivityName=".auth.LoginActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:label="@string/reg_title"/>
        <activity
            android:name=".test.AddQuizTestsActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:label="@string/add_test_title"/>
        <activity
            android:name=".test.QuizTestActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:label="@string/test_title"/>
        <activity
            android:name=".test.TestsListActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:label="@string/test_title"/>
        <activity
            android:name=".theory.AddTheoryActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:label="@string/add_theory_title"/>
        <activity
            android:name=".theory.TheoryShowActivity"
            android:parentActivityName=".theory.TheoryListActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:label="@string/theory_title"/>
        <activity
            android:name=".theory.TheoryListActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:label="@string/theory_title"/>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:label="@string/main_title"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.daisybell.myapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>